// work

.work {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 150px;
    text-align: center;
}

.main {
  border: double 10px;
  background-color: white;
  width: 80%;
  color: black;
}

img {
    width: 475px;
    height: 250px;
}

.references {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: black;
  border: double 10px;

}

.ref {
  padding-left: 160px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
}
