body {
   background-image: url(../images/pexels-photo-1038628.jpeg);
   background-repeat: no-repeat;
   background-attachment: fixed;
	color: black;
}

img {
    padding-top: 40px;
    width: 15%;
    height: 15%;
    	
}

a:link {
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    /* background-color: aqua; */
    color: darkturquoise;
    text-decoration: none;
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    opacity: 4;
}
  
  a:active {
    color: white;
}

.description {
	text-align: center;
}

.content {
	text-align: center;
    color: black;
    font-size: 50px;
}

h1 {
    text-align: center;
}

// academics

h2 {
    text-align: center;
    font-size: 30px;
    color: navy;
}

h3 {
    color: gold;
}

.logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 90px;
    padding-left: 180px;
    // background-color: white;
}

.logos, .logo{
    border: double 10px;
    background-color: white;
}

.logo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 50px;
    padding-left: 180px;
   
}

